@import 'keyframes.scss';
@import 'spinner.scss';

.formContainer{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    animation: smoothPopUp 0.8s ease-out forwards;

    .L, .Ruyk {
        width: 13rem;
        z-index: 1000;
        margin-bottom: -1.4rem;
    }

    .Ruyk{
        width: 7rem;
        margin: 3rem 0 -0.5rem 0;
    }

    .loginForm, .registerForm {
    width: 20rem;
    padding: 1rem;
    height: 19rem;
    display: flex;
    color: white;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 20px rgba(135, 117, 138, 0.4), 0 0 10px rgba(135, 117, 138, 0.5) inset;

    label {
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    input {
        width: 100%;
        color: white;
        padding: 0.1rem;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        border-radius: 0.2rem; 
        background: rgba(0, 0, 0, 0.3);
        border: 0.1rem solid rgba(255, 255, 255, 0.5);
    }
    
    .loginBtn, .goToRegisterBtn, .registerBtn, .backToLoginBtn {
        width: 100%;
        border: none;
        color: white;
        padding: 0.3rem;
        cursor: pointer;
        font-size: 1rem;
        transition: 0.3s ease;
        border-radius: 0.2rem;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.2); 

        &:hover {
            background: #604f63;
        }
    }

    .goToRegisterBtn, .backToLoginBtn {
        width: 70%;
        margin: 1rem;
    }
    
    .goToRegisterBtn{
        margin-top: 2rem;    

    }
}

.registerForm{
    height: 23rem;
}
}
